<p id="notice"><%= notice %></p>

<h1>
  Categoria: <%= @category.name %>
</h1>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>

<%= form_with model: [@category, @product] do |form| %>
  <%= form.hidden_field :category_id, value: @category.id %>

  <%= form.label :name %>
  <%= form.text_area :name %>

  <%= form.label :price %>
  <%= form.number_field :price %>

  <%= form.submit "crear"%>
<% end %>

<h1>Productos</h1>
<%= render 'products/table', products: @products %>